<section style="background-color: #212529">
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-9 d-flex flex-row">
        <div
          class="d-flex flex-row"
          style="margin-top: 112px; margin-bottom: 112px; width: 100%"
        >
          <div class="info d-flex flex-column">
            <span class="pb-2">About longstake</span>
            <span>Blogs</span>
          </div>
          <div
            class="info d-flex flex-column"
            style="margin-left: 120px; margin-right: 120px"
          >
            <span class="pb-2">Subscriptions</span>
            <span class="pb-2">Refund Policy</span>
            <span>Terms of services</span>
          </div>
          <div class="info d-flex flex-column">
            <span class="pb-2">FAQ</span>
            <span class="pb-2">Email Us</span>
            <span>Follow Us</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-5">
        <span class="copyright"
          >All rights are reserved. Copyright © 2023 longstake</span
        >
      </div>
    </div>
  </div>
</section>
