<app-topnav></app-topnav>
<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="assets/images/Frame.png" alt="" />
      </div>
      <div class="col-6">
        <div class="secleft">
          <div>
            <h3 class="h1">SKU: BST-498</h3>
            <h3 class="h2">Product Name</h3>
            <h4 class="h3">Choose subscription</h4>
          </div>
          <div>
            <div class="cad">
              <h2 class="h4">CAD</h2>
              <p class="p1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Praesentium at dolorem quidem modi. Nam sequi consequatur
                obcaecati excepturi alias magni, accusamus eius blanditiis
                delectus ipsam minima ea iste laborum vero?
              </p>
            </div>

            <div class="d-flex">
              <div>
                <button
                  class="btn1 dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  1 month
                </button>
              </div>
              <div class="px-4">
                <button class="btn btn-primary rounded-1">
                  Complete Subscription
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1 class="mt-5 mb-5 d-flex justify-content-center">Recent Plays</h1>
    <div class="row mt-5">
      <div class="col-4 px-5 mt-5">
        <img src="assets/images/Rectangle1.png" />
      </div>
      <div class="col-4">
        <img src="assets/images/Rectangle3.png" />
      </div>
      <div class="col-4 px-5 mt-5">
        <img src="assets/images/Rectangle2.png" />
      </div>
    </div>
  </div>
</section>
<section style="background-color: #f8f9fa">
  <div class="container">
    <div class="row">
      <div
        class="col-6 d-flex justify-content-center align-items-center flex-column"
      >
        <div class="d-flex flex-column">
          <h1 class="contact">Contact us</h1>
          <span class="num">1-123-456-7890</span>
          <label class="l1">Live Representatives 24/7/365, no waiting.</label>
          <span class="email d-flex align-items-center">
            <img
              class="emailimg"
              src="assets/images/Vector.png"
            />&nbsp;&nbsp;support@longstake.net</span
          >
        </div>
      </div>
      <div class="col-6">
        <form class="mt-5">
          <div class="d-flex">
            <div class="d-flex flex-column">
              <label class="mb-2">Full Name*</label>
              <input class="form-control" type="text" />
            </div>
            <div class="px-4 d-flex flex-column">
              <label class="mb-2">Email Address*</label>
              <input class="form-control" type="text" />
            </div>
          </div>
          <div class="d-flex mt-4">
            <div class="d-flex flex-column">
              <label class="mb-2">Phone Number*</label>
              <input class="form-control" type="text" />
            </div>
            <div class="px-4 d-flex flex-column">
              <label class="mb-2">Number of Subscription*</label>
              <input class="form-control" type="text" />
            </div>
          </div>
          <div style="width: 620px" class="mt-4">
            <label class="mb-2">Message (max 100 characters)</label>
            <textarea class="form-control w-100 h-100"></textarea>
            <button class="btn2 w-100 rounded-2 border-0 mt-4 mb-5">
              send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
