<section id="sign-up" class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-0 rounded-3">
          <img
            src="../../assets/images/signup-logo.svg"
            height="68px"
            class="align-self-sm-center"
            alt="longStake photo"
          />
          <div class="card-body">
            <div>
              <div class="signup-clr text-center fs-900 fw-700 lh-900">
                Welcome
              </div>
              <p class="signup-clr text-center fs-600 fw-400 lh-500">
                We are glad to see you back with us
              </p>
            </div>

            <form class="container px-md-2">
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
                <img
                  class="icon"
                  src="../../assets/images/email-icon.svg"
                  alt="email icon"
                />
              </div>
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="password"
                />
                <img
                  class="icon"
                  src="../../assets/images/password_ion.svg"
                  alt="password icon"
                />
              </div>
              <button
                type="submit"
                class="btn btn-login btn-success btn-lg w-100"
              >
                Log in
              </button>
            </form>

            <div class="text-primary-300 mt-5 text-center fs-600 fw-500 lh-500">
              Don't have an account?<a href="#" class="text-accent-100"
                >Signup now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
